*{
  box-sizing: border-box;
}
body {
  background-color: #DFDFDF;
}
.logs {
  width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #EAE2B7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.item {
  display: flex;
  margin: 16px 0;
  padding: 6px;
  background-color: #FCBF49;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  height: 106px;
}
.date {
  width: 90px;
  background-color: #fff;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
}
.month {
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  color: #fff;
  background-color: #D62828;
}
.day {
  height: 60px;
  line-height: 60px;
  font-size: 50px;
}
.content {
  flex: auto;
  text-align: center;
  font-weight: bold;
}
.desc {
  color: #194B49;
  font-size: 16px;
}
.time {
  color: #D62828;
  font-size: 16px;
}

